---
import { Path } from '@/app/config/path.config';
---

<form action={Path.blog.index} method="GET" class="hidden md:block">
  <div class="relative">
    <input
      type="text"
      name="search"
      placeholder="Search articles..."
      autocomplete="off"
      class="w-96 pl-8 pr-3 py-1.5 rounded-lg border border-gray-200/60 dark:border-white/[0.1] bg-gray-50/80 dark:bg-white/[0.04] text-sm text-gray-900 dark:text-gray-100 placeholder-gray-400 dark:placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500/30 focus:border-blue-500/30"
    />
    <svg class="absolute left-2.5 top-1/2 -translate-y-1/2 w-3.5 h-3.5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>
  </div>
</form>
