---
import TagBadge from './TagBadge.astro';
import type { Tag } from '@/modules/post/post.type';

interface Props {
  tags: Tag[];
  limit?: number;
  size?: 'sm' | 'md';
}

const { tags, limit = 3, size = 'sm' } = Astro.props;
---

<div class="flex flex-wrap gap-1.5">
  {tags.slice(0, limit).map((tag) => (
    <TagBadge name={tag.name} slug={tag.slug} size={size} />
  ))}
</div>
